.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttonstart{
  position: relative;
  display: flex;
  margin: 2%;
  padding: 1.5rem 4.5rem;
  background: #FFF1F1;;
  color: black;
  font-size: 2rem;
  font-weight: 300;
  border: 1;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  appearance: none;
  cursor: pointer;
  transition: 250ms, box-shadow 250ms;

}
