body {
  margin: 0;
  background-image: url("https://github.com/myrna90/GDL002-burger-queen/blob/desarrollo/src/img/burger.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  image-resolution: 60%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
